<<<<<<< HEAD
/* Error: expected "{".
 *    ,
 * 10 | background-image: url('./landing-page-idea.jpg');
 *    |                                                 ^
 *    '
 *   landingpage.scss 10:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \"{\".\a    \2577 \a 10 \2502  background-image: url('./landing-page-idea.jpg');\d\a    \2502                                                  ^\a    \2575 \a   landingpage.scss 10:49  root stylesheet";
=======
/* SASS CONFIG
* ! variables can be declared and used with '$'-- kinda like jQuery !!!
* ! @import '../path/to/_config.scss' to import all the functions and vars mixins and whatever else is put in here !
* ! @mixins are sass functions ! use @include statement to apply them to the elements you are styling, just as you would any normall CSS property !
* ! EXAMPLE *

* $my-color: black;
* $my-display: flex;

* @mixin set-display($display) {
    
}

*/
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  all: unset;
  color: black;
>>>>>>> 089636a249dac08db841a530ddccf21db52f79ab
}
