/* Error: expected "{".
 *    ,
 * 10 | background-image: url('./landing-page-idea.jpg');
 *    |                                                 ^
 *    '
 *   landingpage.scss 10:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \"{\".\a    \2577 \a 10 \2502  background-image: url('./landing-page-idea.jpg');\d\a    \2502                                                  ^\a    \2575 \a   landingpage.scss 10:49  root stylesheet";
}
