@import "../config.scss";

<<<<<<< HEAD
<<<<<<< HEAD

main {
  background-color: $backgroundColor;
}

=======
>>>>>>> c9cec63b747526f5b49dad852e9efa0e1f92196c
=======
>>>>>>> 3d82e680c49381f2760e63b4a91a597037b63cee
h1,
h2,
h3,
h4 {
  color: $textColor;
}
body {
  background-color: $backgroundColor;
}
