.trouvaille-header {
  text-align: center; 
  padding:5px;
  
  h1 {
     margin: auto;
     width: 30%;
  }
   
  a button {
    width: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}

.trouvaille-nav {
  float: right;
  text-align: right;
  p {
    margin: 2px;
  }
}
